@media (max-width: 768px) {

    .list{
        flex-direction: column;
        align-items: start;
        font-size: 15px;
        display: none;
    }


    .profile{
        font-size: 20px;
        
    }

    .my-content{
        font-size: 10px;
    }

    .eu{
        height: 100px;
        width: 100px;
    }
    
    .eu2{
       display: none;
    }

    #header-content{
        padding: 10px;
    }

    #Link{
        font-size: 20px;
    }

    .section{
        font-size: 15px;
    }
    
    .section-text{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .titulo{
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }
   
    .lng{
        height: 40px;
     }

     .text-hbl{
        font-size: 12px;
        margin: 3px;
     }

     .hbl{
        padding: 5px;
     }

     #Habilidades{
        margin-top: -200px;
     }
     
     .img-prt{
        height: 160px;
     }

     #content-prt{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

    .text-prt{
        font-size: 10px;
    }

    .port{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 10px;
    }

    .prt{
       padding: 0px;

      }
}
